
body{
    margin: 0;
}
.firstcon{
display: flex;

}

.firstcon1{
    width: 50%;
    height: 50px;
}
.logo{
    padding: 20px 430px;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  .active{
    color: red;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  .icon{
    width:15px ;
    padding: 23px 10px;
    
  }

 a:hover {
    background-color: lightgray;
  }
  .secondiv{
    background-color: lightgray;
    width:100%;
    height: 600px;
    margin:0px;
  display: flex;
  position: relative;

  }
 .secondiv1{
  margin: 90px;
  margin-top: 49px;
 } 
 
  .secondivh1{
    font-size: 70px;
    margin-bottom: 0;
  }
  .secondivp{
    margin-top: 5px;
    font-size: 20px;
  }
  .secondivb{ 
    height: 50px;
    width: 160px;
    background-color: rgb(239, 82, 108);
    color: white;
    border: none;
    font-size:  16px;
    font-weight: bold;
  
  }
  .secondiv2img{
   width:530px;
  
  position: absolute;
  right:490px;
  top: 145px;
  transform: scale(2);
  }

  .thirdcon1{
  
    width: 100%;
    height: 150px;
    
  }
  .thirdcon2{
    
     width: 100%; ;
     height: 350px;
    display: flex;
justify-content: center;
  }
 
  .thirdcon1 h1{
display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 50px;
font-family: 'Times New Roman', Times, serif;
  }

  .tbox1{
    width: 350px;
    height:70% ;
margin: 20px;
background-color: rgb(33, 17, 134);
  }
  .tbox2{
    width: 350px;
    height:70% ;
    margin: 20px;
    background-color: rgb(33, 17, 134)
  }
  .tbox3{
    width: 350px;
    height:70% ;
    margin: 20px;
    background-color: rgb(33, 17, 134)
  }
  .thirdcon2 div img{
display: block;
margin:  0 auto;
padding: 10px;
margin-bottom: 0;
   
  }
  .thirdcon2 div p{
color: white;
font-weight: bold;
font-size: 25px;
display: flex;
justify-content: center;
margin-top: -5px;
  }
  .thirdcon2 div h5{
    color: white;
    font-size: 15px;
    text-align: center;
  display: flex;
  justify-content: center;

  }
  .fourcon{
    background-color: lightgray;
  
    width: 100%;
    height: 480px;
    display: flex;
  }
  .fourcontext h1{
font-size: 50px;
margin-bottom: 0;
color:purple;

  }
  .fourcontext {
   padding: 90px;
  }
  .fourconimg img{
    width: 830px;
    padding-top:7px ;
    padding-left: 255px;
  }
.fifthcon{
  width:100% ;
  height: 120em;


}
.fifthcontext{
  width:100% ;
  height: 190px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.fifthtext span:last-child{
color: rgb(215, 50, 78);
}
.fifthcontainer{
  width: 75%;
  height:98em ;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
  margin-left:200px;

}

.box {
  background-color:rgb(255, 255, 255);
  height: 330px;     /*330px*/
  border: 1px solid #666;
  margin: 20px 20px;
display: flex;
justify-content: center;
width: 330px;
 position: relative;
 
overflow: hidden;

}
.hover-button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  opacity: 0;
  transition: opacity 0.5s;
}
.box img{
  width: 130px;
  padding: 90px;
  transition: transform 0.3s; /* add transition effect to image */
  
}
.top-btn {
  top: 43%;
  border-radius: 40px;
  width: 160px;
  height: 45px;
background-color:rgb(242, 55, 55) ;
color: white;
border: none;
font-size: 18px;
}
.top-btn:hover{
  background-color: rgb(255, 255, 255,0.6);
  border: 2px solid rgb(242, 55, 55);
  color:rgb(242, 55, 55) ;
}
.bottom-btn:hover{
  background-color: rgb(255, 255, 255,0.6); 
  border: 2px solid black;
  color: black;
} 
 .bottom-btn {
  top: 59%;
  width: 160px;
  height: 45px;
  border-radius: 40px;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
}
.caption{
  margin-top: -89px;
  font-size: 19px;
  font-weight: bold;
  
}
.caption span:last-child{
 padding-left: 109px;
}
.box:hover{
  background-color: rgba(255, 255, 255, 0.5); /* add transparent background on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.box img:hover  {
  transform: scale(1.2); /* increase image size on hover */
}
.fifthconb{
  height: 50px;
  width: 190px;
  background-color: rgb(239, 82, 108);
  color: white;
  border: none;
  font-size:  16px;

  margin-left: 690px;
}
.box:hover .hover-button {
  opacity: 1; /* show button on hover */
}

.fifthconb:hover{
  background-color: white;
  color:rgb(239, 82, 108);
  border: 2px solid rgb(239, 82, 108);
}

.sixthcon{
  width:100%;
  height:450px ;
  background-color: rgb(244, 242, 242);
  display: flex;
  justify-content: center;
}
.sixthcontext{
  margin-top: 60px;

  
}
.sixthcontext h1{
  font-size: 40px;
  margin-bottom: 0;
  height: 60px;
}
.sixthcontext p{
  font-size: 18px;
  margin-top: 5px;
}

.sixthcontext span{
text-indent:30px;
}
#email-input {
  width: 650px;
  height: 40px;
  padding:10px;
  font-size: 16px;
  border-radius: 50px;
  border:none;
  
}

#email-input::placeholder {
  color: black;
  font-size: 16px;
 text-indent: 5px;
}
#email-input:focus {
  outline: none; /* remove the outline on focus */
}
.sixthconb{
  height: 50px;
  width: 330px;
  background-color: rgb(239, 82, 108);
  color: white;
  border: none;
  font-size:  16px;
border-radius: 50px;
font-weight: bold;
margin-top: 70px;
margin-left:  150px;
}
.sixthconb:hover{
  background-color: rgb(255, 255, 255,0.5);
  color:rgb(239, 82, 108) ;
  border: 2px solid rgb(239, 82, 108);

}
.sevencon{
  width:100%;
  height:600px ;
  background-color: white;

}
.sevencon h1{
  font-size: 60px;
  margin-top:88px ;

height: 40px;
}
.sevenconimg{
  display: flex;
  justify-content: center;


}
.sevenconimg img{
  margin: 0 80px; /* add 20px margin to the left and right of each image */
}
.circle{
padding-left: 60px;
}
.eightcon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(244, 242, 242);

}
.econ{
  width: 100%;
  height: 340px;
}
.bot-1{
width: 450px;
padding-left:  180px;
line-height: 1.8;
padding-top: 99px;
}
.baby{
  list-style-type: none;

 
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin-top:30px ;
}
.bot-2 strong{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
margin-bottom: 0;

}
.bot-2 {
  padding-top: 99px;
}
.account{
  padding-left:  130px;
}
.bot-3 strong{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 23px;
}
.bot-3{
  padding-top: 99px;
}
.email-form {
  display: flex;
  margin-top: 30px;
}
.email-inp { 
  padding: 10px;
  border:1px solid rgb(224, 221, 221) ;
  font-size: 16px;
}
.subscribe-btn {
  
  color: #fff;
  padding: 10px 20px;
  border: none;
  background-color:rgb(242, 55, 55) ;
  cursor: pointer;
}
.ninecon{
  width: 100%;
  height: 99px;
  background-color: rgb(43, 42, 42);
  color: white;
  display: flex;
  justify-content: center;
}
.nineconpink{
 padding-left: 60px;
 line-height:1.9 ;
}

